# Various
coursework/oop1*/out/

# Python
__pycache__

# Intellij
*.iml
.idea
out/
.attach_pid*

# Java/Gradle-stuff
*.jar
build/*
*/build/*
gradlew*
.gradle
*/gradle/wrapper/gradle-wrapper.properties

